*, *::before, *::after {
	all: unset;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-fill-color: currentColor;
	-webkit-touch-callout: none;
}

head { display: none; }
div { display: block; }
section { display: block; }
table { display: table; }
caption { display: table-caption; }
colgroup { display: table-column-group; }
col { display: table-column; }
thead { display: table-header-group; }
tbody { display: table-row-group; }
tfoot { display: table-footer-group; }
tr { display: table-row; }
th { display: table-cell; }
td { display: table-cell; }

a { cursor: pointer; }

:root {
	--black: rgb(31, 31, 31);
	--blue: rgb(31, 31, 223);
	--gray: rgb(127, 127, 127);
	--red: rgb(223, 31, 31);
	--white: rgb(239, 239, 239);

	font-family: "YuGothic", "Yu Gothic Medium", sans-serif;
	overscroll-behavior: none;
	touch-action: none;
	user-select: none;
}

#container {
	background:
		linear-gradient(20deg, transparent calc(50% + -2.5px), var(--red) calc(50% + -1.5px), var(--red) calc(50% + 1.5px), transparent calc(50% + 2.5px)),
		radial-gradient(ellipse 100% 55%, rgb(23, 23, 23), rgb(31, 31, 31) 85%, rgb(43, 35, 31) 100%);
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
}

#track {
	bottom: 0;
	display: flex;
	flex-wrap: nowrap;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: transform 500ms;
	will-change: transform;
}

@media (orientation: portrait) {
	#track { flex-direction: row-reverse; }
	#track[data-page="home"] { transform: none; }
	#track[data-page="edit"] { transform: translateX(100%); }
	#track[data-page="view"] { transform: translateX(200%); }
}

@media (orientation: landscape) {
	#track { flex-direction: row; }
	#track[data-page="home"] { transform: none; }
	#track[data-page="edit"] { transform: translateX(-100%); }
	#track[data-page="view"] { transform: translateX(-200%); }
}

.page {
	flex: none;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

@media (orientation: portrait) {
	.page { writing-mode: vertical-rl; }
}

@media (orientation: landscape) {
	.page { writing-mode: horizontal-tb; }
}

#back {
	border-block-end: 1px solid var(--red);
	color: var(--white);
	cursor: pointer;
	font-size: 2rem;
	font-weight: bold;
	position: absolute;
	line-height: 1;
	padding-block-end: .25em;
	top: 1.5em;
	transition-duration: 500ms;
}

#back::before {
	border-block-end: .5em solid var(--red);
	bottom: 0;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 0;
}

@media (orientation: portrait) {
	#back {
		padding-inline-end: 1.5em;
		right: 0;
		transition-property: right;
	}

	#back::before {
		border-inline-end: .5em solid transparent;
		right: 0;
		transform: skewX(45deg);
		transform-origin: right bottom;
	}

	#track[data-page="home"] + #back { right: -10rem; }
}

@media (orientation: landscape) {
	#back {
		left: 0;
		padding-inline-start: 1.5em;
		transition-property: left;
	}

	#back::before {
		border-inline-start: .5em solid transparent;
		left: 0;
		transform: skewX(-45deg);
		transform-origin: left bottom;
	}

	#track[data-page="home"] + #back { left: -10rem; }
}

#home {
	align-items: center;
	display: grid;
	grid-template: 30% 40% 30% / auto;
	justify-items: center;
	position: relative;
}

#edit {
	--option-size: 3;

	align-items: center;
	display: grid;
	grid-template:
		"clear header  complete" 1fr
		"clear table   complete" 3fr
		"clear options complete" 1fr
		/ 1fr auto 1fr;
	justify-items: center;
}

#view {
	--option-size: 4;

	align-items: center;
	display: grid;
	grid-template:
		"result header  modes" 1fr
		"result table   modes" 3fr
		"result options modes" 1fr
		/ 1fr auto 1fr;
	justify-items: center;
}

.title {
	align-self: flex-end;
	color: var(--black);
	font-feature-settings: "palt";
	font-size: 10rem;
	font-weight: bold;
	line-height: 1;
	text-shadow:
		-1px -1px 0 var(--red),
		-1px 1px 0 var(--red),
		1px -1px 0 var(--red),
		1px 1px 0 var(--red),
		0 0 5px var(--red);
}

.start {
	animation: flicker 1s ease-in-out infinite alternate;
	color: var(--white);
	cursor: pointer;
	filter: drop-shadow(0 0 .1em var(--white));
	font-size: 8rem;
	font-weight: bold;
	text-shadow:
		-.05em 0 0 var(--black),
		-.035em -.035em 0 var(--black),
		-.035em .035em 0 var(--black),
		0 -.05em 0 var(--black),
		0 .05em 0 var(--black),
		.035em -.035em 0 var(--black),
		.035em .035em 0 var(--black),
		.05em 0 0 var(--black),
		-.1em 0 0 var(--red),
		-.087em -.05em 0 var(--red),
		-.087em .05em 0 var(--red),
		-.05em -.087em 0 var(--red),
		-.05em .087em 0 var(--red),
		0 -.1em 0 var(--red),
		0 .1em 0 var(--red),
		.05em -.087em 0 var(--red),
		.05em .087em 0 var(--red),
		.087em -.05em 0 var(--red),
		.087em .05em 0 var(--red),
		.1em 0 0 var(--red);
}

.recommendation {
	animation: rotation 3s ease-in-out infinite;
	color: var(--black);
	font-size: 4rem;
	font-weight: bold;
	justify-self: flex-end;
	line-height: 1;
	margin-inline-end: 5em;
	text-shadow:
		-1px -1px 0 rgb(223, 159, 31),
		-1px 1px 0 rgb(223, 159, 31),
		1px -1px 0 rgb(223, 159, 31),
		1px 1px 0 rgb(223, 159, 31),
		0 0 5px rgb(223, 159, 31);
}

@media (orientation: landscape) {
	.recommendation { display: none; }
}

.information {
	bottom: 1em;
	color: var(--white);
	column-gap: .5em;
	display: grid;
	font-size: 1.5rem;
	grid-auto-flow: row;
	grid-template-columns: auto auto;
	left: 1em;
	line-height: 1.4;
	position: absolute;
	writing-mode: horizontal-tb;
}

.information a {
	--text-color: rgb(223, 64, 64);

	color: var(--text-color);
	text-decoration: underline solid var(--text-color);
}

.information a:hover {
	--text-color: rgb(223, 127, 127);
}

.contact {
	margin-inline-start: .5em;
}

.heading {
	color: var(--black);
	font-size: calc(5rem * var(--font-scale, 1));
	font-weight: bold;
	grid-area: header;
	line-height: 1;
	margin-block-end: .25em;
	margin-block-start: .5em;
	text-shadow:
		-1px -1px 0 var(--red),
		-1px 1px 0 var(--red),
		1px -1px 0 var(--red),
		1px 1px 0 var(--red),
		0 0 5px var(--red);
}

.table {
	align-self: center;
	background-color: var(--red);
	background-image: linear-gradient(-10deg, rgba(0, 0, 0, .25) 20%, transparent 50%, rgba(0, 0, 0, .25) 80%);
	background-origin: border-box;
	border: 5px solid transparent;
	border-collapse: collapse;
	font-size: 1.5rem;
	grid-area: table;
	justify-self: center;
	line-height: 1;
	table-layout: fixed;
	transition: background-color 500ms;
}

.selection-mode .table {
	background-color: var(--blue);
}

.table-col-skill {
	inline-size: 6.5em;
}

.table-col-gap {
	inline-size: 1em;
}

.table-category, .table-skill, .table-gap-header, .table-gap {
	background-clip: padding-box;
	border: 1px solid transparent;
	cursor: pointer;
}

.table-category, .table-skill {
	max-inline-size: 0;
	overflow: hidden;
	padding-block-end: .25em;
	padding-block-start: .25em;
	padding-inline-end: .5em;
	padding-inline-start: .5em;
	text-align: center;
	white-space: nowrap;
}

.table-category, .table-gap-header {
	border-block-end-width: 3px;
}

.table-category {
	background-color: var(--black);
	color: var(--white);
}

.table-category.hover {
	background-color: rgb(127, 31, 31);
}

.table-category.disabled {
	background-color: var(--gray);
	box-shadow: inset 0 0 10px 0 var(--black);
}

.table-category.disabled.hover {
	background-color: rgb(191, 127, 127);
}

.table-skill, .table-gap {
	position: relative;
	z-index: 0;
}

.table-skill.hover, .table-gap.hover {
	background-color: rgb(239, 223, 223);
}

.table-skill::before, .table-gap::before {
	bottom: 0;
	content: "";
	display: block;
	filter: blur(10px);
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
	transition: filter 500ms, opacity 250ms;
}

.table-skill {
	background-color: var(--white);
	color: var(--black);
}

.table-skill::before {
	color: rgb(127, 31, 31);
	font-size: 300%;
	font-weight: bold;
	padding: inherit;
	text-shadow: none;
}

@media (orientation: portrait) {
	.table-skill::before {
		left: calc(-1em / 3);
		right: calc(-1em / 3);
		transform: rotate(-60deg) skewX(-45deg) scaleY(calc(2 / 3));
	}
}

@media (orientation: landscape) {
	.table-skill::before {
		bottom: calc(-1em / 3);
		top: calc(-1em / 3);
		transform: rotate(30deg) skewX(-45deg) scaleY(calc(2 / 3));
	}
}

.table-skill.disabled {
	background-image: repeating-linear-gradient(-45deg, var(--black), transparent 1.5px, transparent 5px);
}

.table-skill.paralyzed, .table-skill.acquired.paralyzed {
	color: rgb(223, 191, 31);
}

.table-skill.acquired {
	color: var(--red);
}

.table-skill.selected, .table-skill.selected.paralyzed {
	color: var(--blue);
}

.table-skill.selected::before {
	color: rgb(31, 31, 127);
}

.route-mode .table-skill.route::before,
.route-mode .table-gap.route::before {
	filter: blur(0);
	opacity: .5;
}

.table-skill.cost-0::before { content: "5"; }
.table-skill.cost-1::before { content: "6"; }
.table-skill.cost-2::before { content: "7"; }
.table-skill.cost-3::before { content: "8"; }
.table-skill.cost-4::before { content: "9"; }
.table-skill.cost-5::before { content: "10"; }
.table-skill.cost-6::before { content: "11"; }
.table-skill.cost-7::before { content: "12"; }
.table-skill.cost-8::before { content: "13"; }
.table-skill.cost-9::before { content: "14"; }
.table-skill.cost-10::before { content: "15"; }
.table-skill.cost-11::before { content: "16"; }
.table-skill.cost-12::before { content: "17"; }
.table-skill.cost-13::before { content: "18"; }
.table-skill.cost-14::before { content: "19"; }
.table-skill.cost-15::before { content: "20"; }
.table-skill.cost-16::before { content: "21"; }
.table-skill.cost-17::before { content: "22"; }
.table-skill.cost-18::before { content: "23"; }
.table-skill.cost-19::before { content: "24"; }
.table-skill.cost-20::before { content: "25"; }
.table-skill.cost-21::before { content: "26"; }
.table-skill.cost-22::before { content: "27"; }
.table-skill.cost-23::before { content: "28"; }
.table-skill.cost-24::before { content: "29"; }
.table-skill.cost-25::before { content: "30"; }

.cost-mode .table-skill { background-color: var(--cost-mode-color, hsl(0, 0%, 0%)); }
.cost-mode .table-skill.cost-0 { --cost-mode-color: hsl(15, 50%, 100%);}
.cost-mode .table-skill.cost-1 { --cost-mode-color: hsl(15, 50%, 87.5%); }
.cost-mode .table-skill.cost-2 { --cost-mode-color: hsl(15, 50%, 75%); }
.cost-mode .table-skill.cost-3 { --cost-mode-color: hsl(15, 50%, 62.5%); }
.cost-mode .table-skill.cost-4 { --cost-mode-color: hsl(15, 50%, 50%); }
.cost-mode .table-skill.cost-5 { --cost-mode-color: hsl(15, 50%, 37.5%); }
.cost-mode .table-skill.cost-6 { --cost-mode-color: hsl(15, 50%, 25%); }
.cost-mode .table-skill.cost-7 { --cost-mode-color: hsl(15, 50%, 12.5%); }

.table-gap-header, .table-gap.filled {
	background-color: rgb(47, 47, 47);
}

.table-gap-header.hover, .table-gap.filled.hover {
	background-color: rgb(127, 47, 47);
}

.table-gap {
	background-color: var(--white);
}

.table-gap::before {
	background-image: radial-gradient(circle closest-side, rgb(127, 31, 31) 75%, transparent calc(75% + 1px));
}

.table-gap.filled::before {
	background-image: none;
}

.table-gap.widen:not(.route) {
	background-color: rgb(191, 127, 127);
	box-shadow: inset 0 0 1px .25rem var(--white);
}

.table-gap.widen:not(.route).hover {
	box-shadow: none;
}

@media (orientation: portrait) {
	.table-gap.widen.route::before {
		background-image:
			radial-gradient(circle .5rem at 25% 50%, rgb(127, 31, 31) 75%, transparent calc(75% + 1px)),
			radial-gradient(circle .5rem at 75% 50%, rgb(127, 31, 31) 75%, transparent calc(75% + 1px));
	}
}

@media (orientation: landscape) {
	.table-gap.widen.route::before {
		background-image:
			radial-gradient(circle .5rem at 50% 25%, rgb(127, 31, 31) 75%, transparent calc(75% + 1px)),
			radial-gradient(circle .5rem at 50% 75%, rgb(127, 31, 31) 75%, transparent calc(75% + 1px));
	}
}

.options {
	--option-color: var(--red);
	
	display: grid;
	column-gap: 1.5rem;
	grid-area: options;
	grid-template: 4fr 3fr / repeat(var(--option-size), 1fr);
	margin-block-end: 1rem;
	margin-block-start: 1rem;
	row-gap: 1rem;
}

.option.column-0, .option.column-0 ~ .suboption { grid-column: 1; }
.option.column-1, .option.column-1 ~ .suboption { grid-column: 2; }
.option.column-2, .option.column-2 ~ .suboption { grid-column: 3; }
.option.column-3, .option.column-3 ~ .suboption { grid-column: 4; }

.option {
	border-block-end: 1px solid var(--option-color);
	border-block-start: 1px solid var(--option-color);
	border-inline-end: .5em double var(--option-color);
	border-inline-start: .5em double var(--option-color);
	color: var(--white);
	cursor: pointer;
	font-size: calc(2.5rem * var(--font-scale, 1));
	font-weight: bold;
	grid-row: 1;
	line-height: 1;
	opacity: 0.5;
	padding-block-end: .25em;
	padding-block-start: .25em;
	padding-inline-end: .5em;
	padding-inline-start: .5em;
	text-align: center;
}

.option.checked {
	box-shadow: 0 0 10px 3px var(--option-color);
	opacity: 1;
}

.option.selection-target {
	animation: flicker 1s ease-in-out infinite alternate;
}

.option.readonly {
	cursor: auto;
}

.option.readonly:not(.checked) {
	filter: grayscale();
}

.option.paralysis {
	--option-color: rgb(223, 223, 31);
}

.suboption {
	align-self: flex-start;
	border-block-end: 1px solid var(--option-color);
	border-block-start: 1px solid var(--option-color);
	border-inline-end: .25em solid var(--option-color);
	border-inline-start: .25em solid var(--option-color);
	color: var(--white);
	font-size: calc(1.5rem * var(--font-scale, 1));
	font-weight: bold;
	grid-row: 2;
	justify-self: center;
	line-height: 1;
	padding-block-end: .25em;
	padding-block-start: .25em;
	padding-inline-end: .5em;
	padding-inline-start: .5em;
	text-align: center;
}

.clear {
	align-self: flex-end;
	color: var(--white);
	cursor: pointer;
	filter: drop-shadow(0 0 .1em var(--white));
	font-size: 3rem;
	font-weight: bold;
	grid-area: clear;
	line-height: 1;
	margin-block-end: 3rem;
	text-shadow:
		-.05em 0 0 var(--black),
		-.035em -.035em 0 var(--black),
		-.035em .035em 0 var(--black),
		0 -.05em 0 var(--black),
		0 .05em 0 var(--black),
		.035em -.035em 0 var(--black),
		.035em .035em 0 var(--black),
		.05em 0 0 var(--black);
}

.complete {
	align-self: flex-end;
	color: var(--white);
	cursor: pointer;
	filter: drop-shadow(0 0 .1em var(--white));
	font-size: 4rem;
	font-weight: bold;
	grid-area: complete;
	line-height: 1;
	margin-block-end: 3rem;
	text-shadow:
		-.05em 0 0 var(--black),
		-.035em -.035em 0 var(--black),
		-.035em .035em 0 var(--black),
		0 -.05em 0 var(--black),
		0 .05em 0 var(--black),
		.035em -.035em 0 var(--black),
		.035em .035em 0 var(--black),
		.05em 0 0 var(--black),
		-.1em 0 0 var(--red),
		-.087em -.05em 0 var(--red),
		-.087em .05em 0 var(--red),
		-.05em -.087em 0 var(--red),
		-.05em .087em 0 var(--red),
		0 -.1em 0 var(--red),
		0 .1em 0 var(--red),
		.05em -.087em 0 var(--red),
		.05em .087em 0 var(--red),
		.087em -.05em 0 var(--red),
		.087em .05em 0 var(--red),
		.1em 0 0 var(--red);
}

.result {
	align-items: center;
	color: var(--white);
	display: flex;
	flex-flow: row nowrap;
	font-size: 4rem;
	font-weight: bold;
	grid-area: result;
	justify-content: center;
	text-shadow:
		-.05em 0 0 var(--black),
		-.035em -.035em 0 var(--black),
		-.035em .035em 0 var(--black),
		0 -.05em 0 var(--black),
		0 .05em 0 var(--black),
		.035em -.035em 0 var(--black),
		.035em .035em 0 var(--black),
		.05em 0 0 var(--black),
		-.1em 0 0 var(--red),
		-.087em -.05em 0 var(--red),
		-.087em .05em 0 var(--red),
		-.05em -.087em 0 var(--red),
		-.05em .087em 0 var(--red),
		0 -.1em 0 var(--red),
		0 .1em 0 var(--red),
		.05em -.087em 0 var(--red),
		.05em .087em 0 var(--red),
		.087em -.05em 0 var(--red),
		.087em .05em 0 var(--red),
		.1em 0 0 var(--red);
}

@media (orientation: portrait) {
	.result { writing-mode: horizontal-tb; }
}

@media (orientation: landscape) {
	.result { writing-mode: vertical-rl; }
}

.result-label {
	display: grid;
	grid-auto-flow: column;
	margin-inline-end: 1em;
	column-gap: .1em;
}

.result-label > span:last-child {
	color: var(--red);
}

.result-value {
	display: block;
	filter: drop-shadow(0 0 .1em var(--white));
	text-align: center;
	writing-mode: horizontal-tb;
}

.modes {
	color: var(--red);
	display: grid;
	grid-area: modes;
	grid-template: auto / auto auto;
}

@media (orientation: portrait) {
	.modes { writing-mode: horizontal-tb; }
}

@media (orientation: landscape) {
	.modes { writing-mode: vertical-rl; }
}

.mode {
	border: 1px solid var(--red);
	cursor: pointer;
	font-size: 4rem;
	line-height: 1;
	padding-block-end: .25em;
	padding-block-start: .25em;
	padding-inline-end: .5em;
	padding-inline-start: .5em;
}

.mode.checked {
	background-image:
		linear-gradient(30deg, transparent calc(30% - 4.5px), var(--black) calc(30% - 3.5px), var(--black) calc(30% + 3.5px), transparent calc(30% + 4.5px)),
		linear-gradient(-60deg, transparent calc(50% - 3.5px), var(--black) calc(50% - 2.5px), var(--black) calc(50% + 2.5px), transparent calc(50% + 3.5px)),
		linear-gradient(15deg, var(--red), rgb(255, 63, 31) 50%, rgb(223, 95, 31) 80%, var(--white) 100%);
	background-origin: border-box;
	border: none;
	color: var(--white);
	cursor: auto;
	font-weight: bold;
	text-shadow:
		-1px -1px 0 var(--red),
		-1px 1px 0 var(--red),
		1px -1px 0 var(--red),
		1px 1px 0 var(--red),
		0 0 5px var(--red);
}

@keyframes flicker {
	0% { opacity: 1; }
	100% { opacity: 0.5; }
}

@keyframes rotation {
	0%, 80% { transform: none; }
	100% { transform: rotate(-360deg); }
}

@media (max-width: 1800px) and (max-height: 1800px) { :root { font-size: calc(100% / 16 * 15); } }
@media (max-width: 1680px) and (max-height: 1680px) { :root { font-size: calc(100% / 16 * 14); } }
@media (max-width: 1560px) and (max-height: 1560px) { :root { font-size: calc(100% / 16 * 13); } }
@media (max-width: 1440px) and (max-height: 1440px) { :root { font-size: calc(100% / 16 * 12); } }
@media (max-width: 1320px) and (max-height: 1320px) { :root { font-size: calc(100% / 16 * 11); } }
@media (max-width: 1200px) and (max-height: 1200px) { :root { font-size: calc(100% / 16 * 10); } }
@media (max-width: 1080px) and (max-height: 1080px) { :root { font-size: calc(100% / 16 * 9); } }
@media (max-width: 960px) and (max-height: 960px) { :root { font-size: calc(100% / 16 * 8); } }
@media (max-width: 840px) and (max-height: 840px) { :root { font-size: calc(100% / 16 * 7); } }
@media (max-width: 720px) and (max-height: 720px) { :root { font-size: calc(100% / 16 * 6); } }
@media (max-width: 600px) and (max-height: 600px) { :root { font-size: calc(100% / 16 * 5); } }
@media (max-width: 480px) and (max-height: 480px) { :root { font-size: calc(100% / 16 * 4); } }
@media (max-width: 360px) and (max-height: 360px) { :root { font-size: calc(100% / 16 * 3); } }

@media (max-aspect-ratio: 9/16), (min-aspect-ratio: 16/9) { :root { --font-scale: .9; } }
@media (max-aspect-ratio: 8/16), (min-aspect-ratio: 16/8) { :root { --font-scale: .8; } }
@media (max-aspect-ratio: 7/16), (min-aspect-ratio: 16/7) { :root { --font-scale: .7; } }
@media (max-aspect-ratio: 6/16), (min-aspect-ratio: 16/6) { :root { --font-scale: .6; } }
@media (max-aspect-ratio: 5/16), (min-aspect-ratio: 16/5) { :root { --font-scale: .5; } }
@media (max-aspect-ratio: 4/16), (min-aspect-ratio: 16/4) { :root { --font-scale: .4; } }

/* workaround for Safari */
#back { border-bottom: 1px solid var(--red); }
#back::before { border-bottom: .5em solid var(--red); }
.option {
	border-block-end: 1px solid;
	border-block-start: 1px solid;
	border-inline-end: .5em double;
	border-inline-start: .5em double;
	border-color: var(--option-color);
}
.suboption {
	border-block-end: 1px solid;
	border-block-start: 1px solid;
	border-inline-end: .25em solid;
	border-inline-start: .25em solid;
	border-color: var(--option-color);
}